@model IEnumerable<CobaltApp.Models.ClusterViewModel>
@{
    ViewBag.Title = "Index";
}


<div class="page-title">
    <div class="title_left">
        <h3>Cluster Managment</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>The list of clusters</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>IP Adress</th>
                            <th>Subnet mask</th>
                            <th>Subnetwork</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CobaltApp.Models.ClusterViewModel currentCluster in Model)
                        {
                            <tr>
                                <th scope="row">@currentCluster.Id</th>
                                <td>
                                    <a href="/Cluster/GetDescriptionOfCluster/@currentCluster.Id"> @currentCluster.Name </a>
                                </td>
                                <td>@currentCluster.IPAdress</td>
                                <td>@currentCluster.SubnetMask</td>
                                <td>@currentCluster.Subnetwork</td>
                                <td>
                                    <a href="/Cluster/UpdateCluster/@currentCluster.Id"><span class="glyphicon glyphicon-edit"></span></a>
                                </td>
                                <td>
                                    <form method="post" action="/Cluster/DeleteCluster">
                                        <input type="hidden" name="Id" value="@currentCluster.Id"/>
                                        <button type="submit" class="btn btn-link">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


